{% extends "base.html" %}
{% block title %}削除確認{% endblock %}

{% block content %}
  <h1>削除確認</h1>

  <p>
    <a href="/memos" class="button">
      一覧へ戻る
    </a>
  </p>

  <p id="caution">⚠️ 一度削除すると復元できません！</p>

  <div class="form-card">
    <div class="form-group">
      <span class="form-label">ID</span>
      <p class="form-info">{{ memo.id }}</p>
    </div>

    <div class="form-group">
      <span class="form-label">タイトル</span>
      <p class="form-info">{{ memo.title }}</p>
    </div>

    <div class="form-group">
      <span class="form-label">本文</span>
      <p class="form-info">{{ memo.body }}</p>
    </div>

    <div class="form-group">
      <span class="form-label">メモ作成日時</span>
      <p class="form-info">{{ created_at }}</p>
    </div>

    <div class="form-group">
      <span class="form-label">最終更新日時</span>
      <p class="form-info">{{ updated_at }}</p>
    </div>

    <form action="/memos/{{ memo.id }}/delete" method="POST" class="form-actions">
      <button type="submit" class="button button-danger">削除する</button>
      <a href="/memos" class="button">キャンセル</a>
    </form>
  </div>
{% endblock %}