{% extends "base.html" %}
{% block title %}編集{% endblock %}

{% block content %}
  <h1>編集</h1>

  <p>
    <a href="/memos" class="button">
      一覧へ戻る
    </a>
  </p>

  {% if error_message %}
    <p class="flash-messages">
      {{ error_message }}
    </p>
  {% endif %}

  <div class="form-card">
    <label for="id" class="form-label">ID</label>
    <p id="memo-id">No. {{ memo.id }}</p>
    <form action="/memos/{{ memo_id }}/edit" method="POST">

      <div class="form-group">
        <label for="title" class="form-label">タイトル</label>
        <input
          id="title" 
          name="title" 
          type="text" 
          class="form-input"
          value="{{ memo.title }}">
      </div>

      <div class="form-group">
        <label for="body" class="form-label">本文</label>
        <textarea 
          name="body" 
          id="body" 
          rows="6"
          class="form-textarea" 
          placeholder="本文を入力してください">{{ memo.body }}</textarea>
      </div>

      <div class="form-group">
        <label for="category" class="form-label">カテゴリ</label>
        <input 
          id="category" 
          name="category" 
          type="text" 
          class="form-input" 
          value="{{ memo.category }}">
      </div>

      <div class="form-field form-checkbox">
        <label class="checkbox-label">
          <input 
            name="is_private" 
            id="is_private" 
            type="checkbox" 
            value="True" {% if memo.is_private %}checked{% endif %}>
        プライバシー</label>
      </div>

      <div class="form-actions">
        <button type="submit" class="button button-primary">
          変更を保存
        </button>
      </div>

    </form>
  </div>
{% endblock %}