<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>編集</title>
</head>
<body>
  <h1>編集</h1>

  {% if error_message %}
    <p style="color: red;">
      {{ error_message }}
    </p>
  {% endif %}

  <form action="/memos/{{ memo_id }}/edit" method="POST">
    <label>タイトル<br><input name="title" type="text" value="{{ memo.title }}"></label>
    <br>
    <label>本文<br><textarea name="body" id="body" rows="6" cols="40" placeholder="本文を入力してください">{{ memo.body }}</textarea></label>
    <br>
    <label>カテゴリ<br><input name="category" type="text" value="{{ memo.category }}"></label>
    <br>
    <input name="is_private" type="checkbox" value="True" {% if memo.is_private %}checked{% endif %}>プライバシー
    <br>
    <button type="submit">登録</button>
  </form>
</body>
</html>