{% extends "base.html" %}
{% block title %}メモ一覧{% endblock %}

{% block sidebar %}
  <div class="sidebar-search">
    <input type="text" placeholder="検索ワードを入力してください">
  </div>

  <ul class="folder-list">
    <li class="folder-header">
      <a href="/memos">
      すべてのメモ ({{ total_count }})
      </a>
    </li>

    {% for category, count in category_counts.items() %}
    <li>
      <a href="/memos?category={{ category }}"
        class="{% if selected_category == category %}is-active{% endif %}">
        └ {{ category }} ({{ count }})
      </a>
    </li>
  {% endfor %}
  </ul>
{% endblock %}

{% block content %}
<h1>メモ一覧</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
      <li style="color: red;">
        {{ message }}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="/memos/new">
  <button type="submit">新規作成</button>
</form>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>本文</th>
      <th>作成日</th>
      <th>更新日</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {% for memo in memos %}
    <tr>
      <td>{{ memo["id"] }}</td>
      <td><a href="/memos/{{ memo.id }}/edit">{{ memo["title"] }}</a></td>
      <td>{{ memo["body"][:10] }}</td>
      <td>{{ memo["created_at"] }}</td>
      <td>{{ memo["updated_at"] }}</td>
      <td>
        <a href="/memos/{{ memo.id }}/edit">編集</a>
        <br>
        <a href="/memos/{{ memo.id }}/edit">削除</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}