<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>メモ一覧</title>
</head>
<body>
  <h1>メモ一覧</h1>
  
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
        <li style="color: red;">
          {{ message }}
        </li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>本文</th>
        <th>作成日</th>
        <th>更新日</th>
      </tr>
    </thead>
    <tbody>
      {% for memo in memos %}
      <tr>
        <td>{{ memo["id"] }}</td>
        <td>{{ memo["title"] }}</td>
        <td>{{ memo["body"][:10] }}</td>
        <td>{{ memo["created_at"] }}</td>
        <td>{{ memo["updated_at"] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>