{% extends "base.html" %}
{% block title %}新規作成{% endblock %}
{% block content %}
<h1>新規作成</h1>

<p>
  <a href="/memos">一覧へ戻る</a>
</p>

{% if error_message %}
  <p style="color: red; margin-bottom: 16px;">
    {{ error_message }}
  </p>
{% endif %}

<form action="/memos/new" method="POST">

  <div>
    <label for="title">タイトル</label><br>
    <input id="title" name="title" type="text">
  </div>

  <br>

  <div>
    <label for="body">本文</label><br>
    <textarea name="body" id="body" rows="6" cols="40" placeholder="本文を入力してください"></textarea>
  </div>

  <br>

  <div>
    <label for="category">カテゴリ</label><br>
    <input id="category" name="category" type="text">
  </div>

  <br>

  <div>
    <label>
      <input name="is_private" type="checkbox" value="True">
      プライバシー
    </label>
  </div>

  <br>

  <button type="submit">作成</button>

</form>
{% endblock %}