{% block sidebar %}
  <div class="sidebar-search">
    <input type="text" placeholder="検索ワードを入力してください">
  </div>

  <ul class="folder-list">
    <li class="folder-header">
      <a href="/memos">
      すべてのメモ ({{ total_count }})
      </a>
    </li>

    {% for category, count in category_counts.items() %}
    <li>
      <a href="/memos?category={{ category }}"
        class="{% if selected_category == category %}is-active{% endif %}">
        {{ category }} ({{ count }})
      </a>
    </li>
  {% endfor %}
  </ul>
{% endblock %}